.ul_collapsible input[type="checkbox"] {
  display: none;
}

.ul_collapsible input[type="checkbox"] + ul {
  height: 0;
  transform: scaleY(0);
  transition: transform .5s ease-out;
}

.ul_collapsible input[type="checkbox"]:checked + ul{
  height: 100%;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform .5s ease-out;
}

